html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
}
.row{
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}
.col-10{
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}
.mb-3{
	margin: 0px;
	padding: 0px;
}

#conteneur_all {
	/* padding: 20px ; */
	background-color: rgb(97, 97, 97);
}

#formBlog {
	position: fixed; 
	z-index: 10;
	padding: 20px;
	top: 50%;
  	left: 50%;
	width: 80%;
  	transform: translate(-50%, -50%);
	background-color: aliceblue;
}

#background_form {
	position: fixed;
	z-index: 9;
	background-color: black;
	opacity: 50%;
	height: 100%;
	width: 100%;
}

.lien_liste {
	text-decoration: none;
	color: black;
}
.lien_liste:hover {
	text-decoration: none;
	color: black;
	
}
.card_article_list{
	margin-bottom: -5px;
}
/* .card_article_list:hover{
	border-left: 8px solid;
	border-left-color: #FA8218;
} */

#btnFormBlog {
	position: fixed;
}

.naviga_btn {
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	z-index: 8;
	padding: 25px 20px 25px 20px;
}
#backgroung_navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 8;
	background-color: #2C2C2C;
	margin: -20px 0px -20px 0px;
}

.btn_navbar_test {
	color: white;
	padding: 20px;
	text-decoration: none;
	font-size: 1.3em;
	font-weight: 800;
}

.btn_navbar_test:hover {
	color: #F2A530;
	border-bottom: 6px solid;
	border-color: #F2A530;
}

.conteneur_page {
	/* background-color: white; */
	margin-top: -5px;
	/* padding: 10px; */
}
.conteneur_contenue{
	background-color: #1F1F1F;
	color: white;
	padding: 20px 15px 20px 15px;
	font-size: 1.1em;
	font-weight: 400;
}
.conteneur_lien{
	background-color: #1F1F1F;
	color: white;
	padding: 10px;
	margin-left: -12px;
	font-size: 1.1em;
	font-weight: 400;
	text-align: center;
}
.conteneur_image_full{
	background-color: #1F1F1F;
	color: white;
	padding: 10px;
	margin-top: -5px;
	margin-right: -12px;
	font-size: 1.1em;
	font-weight: 400;
	text-align: center;
}
.titre_lien{
	background-color: #F2A530;
	color: white;
	padding: 10px;
	margin-left: -12px;
	font-size: 1.4em;
	font-weight: 500;
}

.image_dans_com {
	background-color: gray;
}
.com_modif_form {
	margin-bottom: 8px;
}
.com_modif_form2 {
	margin-bottom: 17px;
}

.display_image {
	padding: 8px 4px 8px 8px;
}
.display_image:nth-child(3n-1) {
	padding: 8px 4px 8px 4px;
}
.display_image:nth-child(3n) {
	padding: 8px 8px 8px 4px;
}

.white {
	color: white;
	font-size: 1.2em;
	font-weight: 300;
	margin-right: -10px;
}

.card_colo{
	/* color: #F2A530; */
	color: white;
	background-color: #F2A530;
	
	padding: 10px;
	font-size: 1em;
	font-weight: 300;
}

.card_all{
	padding: 0px 0px 5px 5px;
	margin: 0px;
	overflow: hidden;
}
.card_head{
	padding: 5px 5px 5px 15px;
	background-color: #F2A530;
}
.card-title{
	font-size: 1.8em;
	margin-top: -15px;
	font-weight: 700;
	color: white;
}
.card_contenue{
	font-size: 1.1em;
	margin-top: -15px;
	font-weight: 450;
	color: white;
}
.card_contenue2{
	font-size: 0.9em;
	margin-top: -15px;
	font-weight: 300;
	color: white;
}
.card-date{
	font-size: 0.9em;
	font-weight: 350;
	color: white;
}
.card_forme{
	padding: 0px;
	background-color: #1F1F1F;
}
.card_forme:nth-child(2n) {
	border-left: 1px solid;
	border-color: #1F1F1F;
}
.contenue{
	width: 90%;
	color: white;
}
.bloc_titre_page{
	background-color: #F2A530;
	padding: 15px 15px 15px 15px;
	margin: 30px 0px 15px 0px;
}
.bloc_titre_com{
	background-color: #F2A530;
	padding: 15px 15px 15px 15px;
	margin: 0px 0px 0px 0px;
}
.bloc_page{
	background-color: #F2A530;
	margin: 30px 0px 15px 0px;
}
.bloc_com{
	background-color: #F2A530;
	margin: 0px 0px 0px 0px;
}
.bloc_contenue_com{
	/* background-color: #7bff00; */
	padding: 10px 15px 10px 15px;
	/* margin-bottom: 10px; */
}
.bloc_conteneur{
	margin-bottom: 10px;
}
#titre_page{
	color: white;
	width: 40%;
	font-size: 2em;
	font-weight: 800;
}
#titre_page_article{
	margin: 50px 0px 20px 0px;
	color: white;
	background-color: #F2A530;
	padding: 10px;
	width: 24%;
}
.page_title{
	font-size: 2em;
	font-weight: 800;
	color: white;
}
.page_date{
	font-size: 0.9em;
	font-weight: 350;
	color: white;
}

.ligne{
	border-top: 7px solid;
	border-color: #F2A530;
	margin: -20px 0px 40px 0px;
}

.ligne2{
	border-bottom: 2px solid;
	border-color: #F2A530;
	/* margin: -20px 0px 40px 0px; */
}

.div_btn_article{
	margin: -55px 0px 0px 0px;
}
.btn_article{
	padding: 5px 7px 8px 7px;
	margin: 5px;
	text-decoration: none;
	color: white;
	background-color: #2C2C2C;
	border-radius: 5px;
	border: 0px;
}
.btn_article:hover{
	color: white;
	background-color: #F2A530;
}
.btn_article2{
	padding: 5px 7px 8px 7px;
	margin-top: 5px;
	text-decoration: none;
	color: white;
	background-color: rgb(97, 97, 97);
	border-radius: 5px;
	border: 0px;
}
.btn_article2:hover{
	color: white;
	background-color: #F2A530;
}
.name_user{
	text-decoration: none;
	color: #F2A530;
}
.name_user:hover{
	text-decoration: none;
	color: black;
}
.name_user2{
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	font-weight: 500;
}
.name_user2:hover{
	text-decoration: none;
	color: black;
}

#pageactive{
	color: #F2A530;
}

.main_image{
	max-width:100%;
	max-height:400px;
	object-fit:cover;
	padding:0px;
	margin-top: 40px;
	margin-bottom: -30px;
}
.image_lien_jeu{
	max-width:100%;
	max-height:100%;
	padding:0px;
}
#formCom{
	padding: 20px 15px 20px 15px;
}
.no_border{
	border: 0px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 0px;
}
.com_contenue{
	padding-top: 2px;
	background-color:gray ;
}
.btn_place{
	margin-top: -20px;

}